@charset "UTF-8";
/* BASE */
.calendar__row {
  display: flex;
  flex-direction: row;
}

.calendar__cell {
  flex: 1;
}

/* THEME */
* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.calendar__body {
  position: relative;
}

@media only screen and (max-width: 600px) {
  .calendar__row {
    min-width: 1000px;
    padding-right: 20px;
  }

  .calendar__body {
    min-width: 1000px;
  }
}
.calendar__cell {
  height: 40px;
}

.calendar__cell--appointment {
  display: flex;
  position: relative;
  border-top: #e5e5e5 solid 1px;
  border-right: #f4f4f4 solid 1px;
}

.calendar__cell--time-spacing {
  flex: 6px 0 0;
  border-right: none;
}

.calendar__cell--day-of-week {
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar__cell--day-of-week__day {
  font-size: 1.1em;
  color: #999;
}

.calendar__cell--day-of-week__date {
  font-size: 2.5em;
}

.calendar__cell--day-of-week--today .calendar__cell--day-of-week__day, .calendar__cell--day-of-week--today .calendar__cell--day-of-week__date {
  color: #fc3d39;
}

.calendar__cell--weekend {
  background: #fafafa;
}

.calendar__cell--time-col {
  flex: 50px 0 0;
}

.calendar__cell--time {
  font-family: "Roboto", sans-serif;
  line-height: 1em;
  transform: translateY(-50%);
  font-size: 0.9em;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar__cell--time:after {
  content: '';
  background: #ddd;
  height: 4px;
  width: 4px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 50%;
}

.calendar__row--deco-last-row {
  height: 0;
}
.calendar__row--deco-last-row .calendar__cell--appointment {
  height: 0;
}

.calendar__appointment {
  font-family: 'Roboto', sans-serif;
  padding: 4px 6px;
  font-size: 12px;
  position: absolute;
  top: -1px;
  right: -1px;
  left: 0;
  z-index: 1;
  min-height: 100%;
}

.calendar__appointment__name {
  font-weight: bold;
}

.calendar__current-time {
  height: 1px;
  background-color: #fc3d39;
  position: absolute;
  right: 0px;
  left: 10px;
  z-index: 1;
}

/* TODO: La hora actual está quedando fuera del bloque
 * del calendario.
 */
.calendar__current-time__text {
  font-family: "Roboto", sans-serif;
  color: #fc3d39;
  position: absolute;
  top: 50%;
  transform: translate3d(-100%, -50%, 0);
  margin-left: -2px;
}

/* INTERACTIONS */
.calendar__row:hover .calendar__cell--time {
  color: #555;
}
.calendar__row:hover .calendar__cell--time:after {
  background-color: #aaa;
}

.calendar__row:hover + .calendar__row .calendar__cell--time {
  color: #555;
}
.calendar__row:hover + .calendar__row .calendar__cell--time:after {
  background-color: #aaa;
}
